<!doctype html>
<html>

<head>
  <title>East Bay Vegan Eats</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">

    <div class="page-header text-center">
      <h1><span class="fas fa-seedling"></span>East Bay Vegan Eats</h1>
    </div>

    <div class="row">

      <!-- LOCAL INFORMATION -->
      <div class="col-sm-6">
        <div class="well">
          <h3><span class="fa fa-user"></span> Local</h3>

          <% if (user.local.employeeid) { %>
          <p>
            <strong>id</strong>:
            <%= user._id %><br>
            <strong>employee id</strong>:
            <%= user.local.employeeid %><br>
            <!-- <strong>password</strong>:
            <%= user.local.password %> -->
          </p>

          <a href="/unlink/local" class="btn btn-default">Unlink</a>
          <% } else { %>
          <a href="/connect/local" class="btn btn-default">Connect Local</a>
          <% } %>
          <a href="/logout" class="btn btn-default btn-sm">Logout</a>
          <a href="/">home</a>

        </div>
        <div class="complete">
          <h4>Completed <button class="clear" type="button" name="button">Clear</button></h4>

          <ul class="messages">
            <% for(var i=0; i<messages.length; i++) {%>
              <% if(messages[i].complete == true) {%>
                <% if (user.local.employeeid) { %>
                  <li class="message">
                    <span class="compOrd"><%= messages[i].name %></span>
                    <span class="compOrd"><%= messages[i].msg %></span>
                    <span class="chef">Made By:</span>
                    <span class="chef"><%= user.local.employeeid %></span>
                  </li>
                  <% } %>
                  <% } %>
                  <% } %>
                </ul>
              </div>
      </div>
      
      <div class="col-sm-6 order">
        <h3>Orders</h3>
        <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
          <% if(messages[i].complete == false) {%>
          <li class="message">
            <span><%= messages[i].name %></span>
            <span><%= messages[i].msg %></span>
            <span><i class="fas fa-check-circle" aria-hidden="true"></i></span>
          </li>
          <% } %>
          <% } %>
        </ul>


      </div>


    </div>

    <script src="main.js"></script>

</body>

</html>
